.header-layout {
	background-image: url("../slike/header.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100vh;
}
.layout {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.486);
	width: 100%;
	height: 100%;
	z-index: 0;
}
.header-layout h1 {
	z-index: 100;
	color: white;
}
